[submodule "vimdir/bundle/fugitive"]
	path = vimdir/bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "vimdir/bundle/surround"]
	path = vimdir/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimdir/bundle/git"]
	path = vimdir/bundle/git
	url = https://github.com/tpope/vim-git.git
[submodule "vimdir/bundle/supertab"]
	path = vimdir/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vimdir/bundle/minibufexpl"]
	path = vimdir/bundle/minibufexpl
	url = https://github.com/sontek/minibufexpl.vim.git
[submodule "vimdir/bundle/command-t"]
	path = vimdir/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vimdir/bundle/pyflakes"]
	path = vimdir/bundle/pyflakes
	url = https://github.com/mitechie/pyflakes-pathogen.git
[submodule "vimdir/bundle/ack"]
	path = vimdir/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vimdir/bundle/pydoc"]
	path = vimdir/bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "vimdir/bundle/pep8"]
	path = vimdir/bundle/pep8
	url = https://github.com/vim-scripts/pep8.git
[submodule "vimdir/bundle/py.test"]
	path = vimdir/bundle/py.test
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "vimdir/bundle/makegreen"]
	path = vimdir/bundle/makegreen
	url = https://github.com/reinh/vim-makegreen
[submodule "vimdir/bundle/tasklist"]
	path = vimdir/bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "vimdir/bundle/nerdtree"]
	path = vimdir/bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "vimdir/bundle/vim-colors-solarized"]
	path = vimdir/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vimdir/bundle/vimoutliner"]
	path = vimdir/bundle/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner.git
[submodule "vimdir/bundle/rainbow_parentheses"]
	path = vimdir/bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vimdir/bundle/python-mode"]
	path = vimdir/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vimdir/bundle/vim-protobuf"]
	path = vimdir/bundle/vim-protobuf
	url = https://github.com/fhenrysson/vim-protobuf.git
[submodule "vimdir/bundle/tomorrow-theme"]
	path = vimdir/bundle/tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme.git
[submodule "vimdir/bundle/puppet"]
	path = vimdir/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
